
/*  DOCUMENTO DE ESTILO */


/*-----------General Style-----------*/

*{
    margin:0;
    padding:0
} 

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(15, 76, 117);
    color:#fff;
}


img {   
    padding: 0px; 
    object-fit:cover;
    border-radius: 5px;
    flex: 1;
    max-height: 300px;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-align: center;
    width: 150px;
    line-height: 40px;
    text-decoration: none;
    color:#fff;
    border:2px solid;
    background-color: rgb(15, 76, 117);;
    border-color:rgb(15, 76, 117);
    border-radius: 5px;
    
}
a:hover {
    background-color: #1f2937;;
    color:#fff;
    border:2px solid;
    border-color:#fff;
}



/*-----------Header-----------*/

header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}
    
.wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 8px;
  }


.logoMenuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
  font-size: 24px;
  font-weight:bold;
}

.menu {
    display: flex;
    gap: 20px;
 }


.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.heroText h1{
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0px;
    
 } 

.heroText p{
    margin: 15px 0px;
} 


.heroImg {
    display: flex;
    justify-content: center;
}






/*-----------Article-----------*/
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
}
  
.info {
    max-width: 200px;
}
