
/*-----------General Style-----------*/

*{
    margin:0;
    padding:0
} 

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(15, 76, 117);
    color:#fff;
}

h1{
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0px;
} 

h2{
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 50px;
} 

h3{
    font-size: 24px;
    font-weight: bold;
} 


p{
    margin: 18px 0px;
} 

img {   
    padding: 0px; 
    object-fit:cover;
    border-radius: 5px;
    flex: 1;
    height: 200px;
    width: 200px;
}

ul {
    list-style-type: none;
}


/*-----------Header-----------*/

header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}
    
.wrapperLogoMenu {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    
}

.logoMenuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 75px;
}

.logo{
  font-size: 30px;
  font-weight:bold;
  width: 50%;
}

.menu {
    display: flex;
    gap: 20px;
    width: 50%;
 }

 header a {
    display: block;
    text-align: center;
    width: 150px;
    line-height: 40px;
    text-decoration: none;
    color:#fff;
    border:2px solid;
    background-color: rgb(15, 76, 117);
    border-color:rgb(15, 76, 117);
    border-radius: 5px;
    
}
header a:hover {
    background-color: #1f2937;;
    color:#fff;
    border:2px solid;
    border-color:#fff;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.heroText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}


.heroImg {
    width: 50%;
    display: flex;
    justify-content: center;
}

.heroImg img{ 
    height: 300px;
    width: auto;
}




/*-----------Article-----------*/
  
#articleSection{
    background-color: #fff;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.wrapperArticleSection {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    align-items: center;
  }


.articleContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
    padding: 0px 20px;
}

.info figure img{
    border:5px solid;
    border-color:rgb(15, 76, 117);
    border-radius: 10px;
}

.info figure img:hover{
    border:5px solid;
    border-color:rgb(15, 76, 117);
    border-radius: 10px;
}

  /*-----------Quote-----------*/
    
#quote{
    background-color: #E5E7EB;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.wrapperQuote{
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    align-items: center;
  }

.wrapperQuote p {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
  }

  p.boldP{
    color: #1f2937;
    font-size: 36px;
    font-style:normal;
    font-weight: bold;
  }

  /*-----------Sign Up-----------*/

#signUp{
    background-color: #fff;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 50px 25px;
}

.wrapperSignUp{
    width: 1200px;
    display: flex;
    padding: 50px 25px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(15, 76, 117);
    color:#fff;
    border-radius: 7px;
  }


  .wrapperSignUp a{
    display: block;
    text-align: center;
    width: 150px;
    line-height: 40px;
    text-decoration: none;
    color:#fff;
    border:2px solid;
    background-color: rgb(15, 76, 117);
    border-color:#fff;
    border-radius: 5px;
    
}
.wrapperSignUp a:hover {
    background-color: #fff;;
    color:rgb(15, 76, 117);
    border:2px solid;
    border-color:rgb(15, 76, 117);
}

  /*-----------Footer-----------*/

  footer{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px;
}


 footer p a {
    text-decoration: none;
    /* display: inline;
    text-align: center; */
    color:#fff;
    padding:5px;
}

footer p a:hover {
    background-color:#fff; ;
    color:#1f2937;
}