
/*  DOCUMENTO DE ESTILO */


/*-----------General Style-----------*/

*{
    margin:0;
    padding:0
} 

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(15, 76, 117);
    color:#fff;
}

h1{
    font-size: 48px;
    font-weight: bold;
    margin: 10px 0px;
} 

h2{
    font-size: 36px;
    font-weight: bold;
    margin: 10px 0px;
} 

p{
    margin: 15px 0px;
} 

img {   
    padding: 0px; 
    object-fit:cover;
    border-radius: 5px;
    flex: 1;
    max-height: 300px;
}

ul {
    list-style-type: none;
}

a {
    display: block;
    text-align: center;
    width: 150px;
    line-height: 40px;
    text-decoration: none;
    color:#fff;
    border:2px solid;
    background-color: rgb(15, 76, 117);
    border-color:rgb(15, 76, 117);
    border-radius: 5px;
    
}
a:hover {
    background-color: #1f2937;;
    color:#fff;
    border:2px solid;
    border-color:#fff;
}



/*-----------Header-----------*/

header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}
    
.wrapperLogoMenu {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
}


.logoMenuContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
  font-size: 30px;
  font-weight:bold;
  width: 50%;
}

.menu {
    display: flex;
    gap: 20px;
    width: 50%;
 }


.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.heroText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.heroImg {
    width: 50%;
    display: flex;
    justify-content: center;
}






/*-----------Article-----------*/
  
#articleSection{
    background-color: #fff;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.wrapperArticleSection {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    align-items: center;
  }


.articleContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
    padding: 20px;
}

.info figure img{
    border:5px solid;
    border-color:rgb(15, 76, 117);
    border-radius: 10px;
}

.info figure img:hover{
    border:5px solid;
    border-color:rgb(15, 76, 117);
    border-radius: 10px;
}

  
